extends layout

block content
  img.image(src='https://www.gravatar.com/avatar/faa72ce4fa009d7435bd8cc5734b393f?s=150', alt='@hardikpthv image', class="avatar")
  h1= title
  p Perhaps, you would like to vist #[a(href="https://hardikpthv.github.io") #{title}] ;)
  
