@import "../../styles/colors";

.cg-header {
  box-shadow: 0px 0px 40px 0px $light-shadow;
  background-color: $white !important;
  height: 75px;
  .cg-header__brand {
    position: relative;
    span {
      font-size: 40px;
      position: absolute;
      top: -5px;
      right: -45px;
    }
  }
}
